body {
  background-color: #1a1e21;
  color: white;
}

.qrcode-form {
  input {
    background-color: #262826FF;
    border: none;
    color: white;
    //padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  input[type="text"] {

  }
}